<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>TicTacToe - Board</title>
  <link rel="stylesheet" href="board.css">
</head>

<body>
  <table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
  </table>

  <div id="coordenates">
        <input id="horizontal" placeholder="Type your Horizontal Coordenade">
        <input id="vertical" placeholder="Type your Vertical Coordenade">
        <button id="send">Send</button>
  </div>

</body>
</html>

